.cars {
    display: flex;
    flex-direction: column;

    @include breakpoint-up(large) {
        flex-direction: row;
    }

    &__card {
        padding: 3rem 3.0625rem;

        @include breakpoint-up(large) {
            padding: 3rem;
        }
    }

    &__cardIcon {
        margin-bottom: 2.1875rem;
    }

    &__cardTitle {
        text-transform: uppercase;
        font-size: 2.5rem;
        line-height: 3rem;
        margin-bottom: 1.5625rem;
    }

    &__cardText {
        max-width: 14.4375rem;
        margin-bottom: 1.5625rem;
        line-height: 1.5625rem;

        @include breakpoint-up(large) {
            max-width: 13.25rem;
            margin-bottom: 5.1875rem;
        }
    }

    &__cardCta {
        line-height: 1.5625rem;
        display: inline-block;
        background-color: $veryLightGray;
        padding: 0.6875rem 1.9688rem 0.75rem 1.9688rem;
        border-radius: 1.5625rem;
    }
}

.card1 {
    a {
        color: $brightOrange;
    }
    background-color: $brightOrange;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    @include breakpoint-up(large) {
        border-top-right-radius: 0;
        border-bottom-left-radius: 0.5rem;
    }
}

.card2 {
    a {
        color: $darkCyan;
    }
    background-color: $darkCyan;
}

.card3 {
    a {
        color: $veryDarkCyan;
    }
    background-color: $veryDarkCyan;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    @include breakpoint-up(large) {
        border-bottom-left-radius: 0;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }
}
