html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 5.5rem 1.5rem;
    font-size: 0.9375rem;
    background-color: $veryLightGray;

    @include breakpoint-up(large) {
        padding-top: 10.6875rem;
    }
}

h1,
h2,
h3 {
    margin: 0;
    font-family: "Big Shoulders Display", cursive;
    font-weight: 700;
    color: $veryLightGray;
}

p {
    margin: 0;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    color: $transparentWhite;
    padding-left: 0.0625rem;
    padding-right: 0.0625rem;
}

a,
a:visited,
a:hover {
    text-decoration: none;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
}

.btn {
    &:hover {
        color: $white;
        background-color: transparent;
        outline: 0.125rem solid $white;
        outline-offset: -0.125rem;
    }
}
